@{
    ViewBag.Title = "Home Page";
}
<style>

    #jumbo {
        background-image: url("/Resource/pic.jpg");
        width: 100%;
        height: 317px

        
    }
</style>
<div class="jumbotron" id="jumbo">
    @*<h1>Fast Food Resturent</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
</div>

<div class="row">
        <h2>Fast Food Resturent Customer Simulate</h2>
        <p >ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="@Url.Action("Index","UserInput")" class="btn btn-primary btn-large">Simulate &raquo;</a></p>
</div>